

/* Align icon to left */
#who .items .item {
    display: flex;
    text-align: left;
}

/* Position icon */
#who .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

