@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Lato',sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

/* Utilities */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #ecab34;;
}

.bg-light {
    background: #fff;
    color: rgb(14, 2, 2);
}

.bg-dark {
    background: #131313;
    color: #f4f4f4;
}

.bg-primary {
    background: #000000;
    color: #fff;
}

.l-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.m-heading {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 3.3rem;
    margin-bottom: 3rem;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.dec {
    list-style: square;
    color: #ecab34;
    font-size: 12px;

}

.btn {
    display: inline-block;
    color:black;
    background: #ecab34;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}
.btn-1 {
    display: inline-block;
    color:black;
    padding: 0.5rem 2rem;
    border:#ecab34;
    border-style: solid;
    border-radius: 5px;


}
.btn-2 {
    display: inline-block;
    color:#fff;
    padding: 0.5rem 2rem;
    border:#ecab34;
    border-style: solid;
    border-radius: 5px;


}
.btn-1:hover {
    background: #ecab34;

}

.btn:hover {
    background: #acaeb1;
}

.btn-dark {
    background: #333;
    color: #fff;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
    font-size: 12px;
}
.list li {
    padding: 0.5rem 0;
    border-bottom: rgb(3, 0, 0) dotted 1px;
    font-size: 12px;
}

/* Navbar */
#navbar {
    display: flex;
    position:sticky;
    top: 0;
    background: rgb(7, 5, 5);
    color: #fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin:0 0.25rem;
}

#navbar ul li a:hover {
    background: #3c84e2;
    border-radius: 5px;
}

/* Showcase */
#showcase {
    background: #333 url('../img/showcasee.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    width: 100%;
    background: rgb(43, 37, 37);
    opacity: 0.6;
    /* padding: 10px; */
    margin-top: 190px;
    height: 240px;
}
div.a{
    text-align: right;
}

/* Section: How it works */
h2 {
    padding-top: 2rem;
}
h3 {
    padding-top: 3rem;
}

   
h2::after{
    content: '';
    background: #ffc300;
    display: block;
    height: 3px;
    width:170px;
    margin: 20px auto 5px;
}
#how .items {
    display: flex;
    padding: 1rem;
    
}

#how .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#how .items .item i {
    background: #eca930fa;
    padding: 2rem;
    border-radius: 80%;
    margin-bottom: 1rem;
    color:#fff;
    font-size: 2em;
}

#pic {
    background: url("../img/showcasee.jpg")no-repeat  center center/cover;
    position: center;
    opacity: 0.9;
    width:100%;
    display:block;
  
  }
  #print{
      display: flex;
     flex-wrap: wrap;
     margin: 20px;
    justify-content: space-between;
  }
  .print1{
      margin-right:30px;
      text-align: left;
      
  }
  .print1 img{
      height: 250px;
      width: 250px;
      margin-left: 60px;
      margin-right: 10px;
      
  }
  .prints{
      justify-content: flex-start;
     /* align-items: center;*/
      flex-direction: column;
      padding-left: 10px;
  
  }
  .prints  h1{
      color: #fff;
     text-align: left;
     justify-content: right; 
     padding-top: 40px;
  }
  .prints p{
      padding-top: 20px;
      color:#fff;
      text-align: left;
      justify-content: right;
      margin-bottom: 30px;
  }
  #pic .btn-2{
      background: #333;
      color: #fff;
      margin-top: 20px;
      padding: 10px 30px;
      font-size: 10px;
      border-radius: 5px;
      border: 2px solid #ffc300;
  }

/* Section: Clients */
#clients .items {
    display: flex;
}

#clients .items img {
    display: block;
    margin: auto;
    width: 15%;
}
.client-three a{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 4px 10px;
    margin-left: 20px;
}

/* Section: contact us */
#contact .items {
    display: flex;
    padding: 1rem;
}

#contact .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#contact .items .item i {
    color: #ecab34;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
   

 /* Section:send us a message*/
 .message {
    height: 30rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgb(1, 3, 5);
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.message p {
    color: rgb(190, 189, 189);
    font-weight: bold;
    
}

.message h1 {
    padding-top: 3rem;
}

input {
    width: 18rem;
    height: 2.5rem;
    border: #fff solid 0.5px;
    background: rgb(1 3 5);
    padding-left: 1rem;
}

.txtarea {
    width: 55rem;
    height: 10rem;
}

#submit {
    height: 3rem;
    width: 8rem;
    padding: 2px;
    font-weight: bold;
    font-size: 12px;   
    border: none;
}


/* left right */
  .btn_icon {
    color: white;
    background-color: #ecab34;
    padding: 4px 10px;
    margin-left: 20px;
    
}
.item-2 .btn-left  {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:space-evenly;
    
    text-align: center;
    height: 50%;
    left: 0;
   position: absolute;
  }
.item-2 .btn-right  {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:space-evenly;
    text-align: center;
    height: 50%;
    right: 0;
    position: absolute;
  }
  .btn-down  {
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height: 150%;
    padding-top:0rem;
    transition: all 0.3s ease-in;
  }



