
#how .items {
    display: block;
    padding: 1rem;
}

/* Align icon to left */
#how .items .item {
    display: flex;
    text-align: left;
}

/* Position icon */
#how .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

/* Smartphones */
@media(max-width: 500px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo {
        margin-bottom: 0.5rem;
        text-align: center;
    }

    #navbar ul {
        padding: 0.5rem;
    }

    #showcase .showcase-content {
        top: 110px;
    }

    #lorem {
        display: block;
    }

    #lorem .lorem-img {
        display: none;
    }

    #clients .items img {
        width: 15%;
    }

    #clients .items div:last-child {
        display: none;
    }

    #contact {
        flex-direction: column;
    }
}

@media(max-height: 568px) {
    .showcase-content {
        margin-top: -2rem;
        top: 130px;
    }

    .l-heading {
        font-size: 3rem;
    }

    .lead {
        font-size: 1rem;
    }
}
